.panel-heading {
  color: black;
  background-color: #ddd;
  font-size: 150%;
}

.content-image {
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  min-height: 250px;
}

.section-title {
  border-bottom: 1px solid black;
  font-size: 150%;
  margin-bottom: 15px;
}

.content-details-group {
  margin-top: 15px;
  font-size: 125%;
}

.settings-details {
  font-size: 125%;
}

.modal-content {
  top: 100px;
}
