<div class="container-fluid">
  <app-page-title title="Change Your Password"></app-page-title>

  <form
    [formGroup]="passwordForm"
    class="form-validate"
    role="form"
    name="passwordForm"
    novalidate=""
    (submit)="submitForm($event, passwordForm.value)"
  >
    <div class="panel panel-default bb0">
      <div class="panel-body bb bt pb0">
        <div class="row">
          <div class="col-sm-12 col-md-9">
            <p class="lead bb">Change Password</p>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Current Password</label>
                  <input
                    class="form-control"
                    placeholder="Current Password"
                    type="password"
                    name="currentPassword"
                    formControlName="currentPassword"
                    tabindex="0"
                    aria-invalid="true"
                  />
                  <span class="text-danger" *ngIf="required(passwordForm.get('currentPassword'))"
                    >This field is required</span
                  >
                </div>
              </div>
            </div>

            <div class="row mt-lg">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">New Password</label>
                  <input
                    class="form-control"
                    placeholder="New Password"
                    type="password"
                    name="newPassword"
                    formControlName="newPassword"
                    tabindex="0"
                    aria-invalid="true"
                  />
                  <span class="text-danger" *ngIf="required(passwordForm.get('newPassword'))"
                    >This field is required</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="hasError(passwordForm.get('newPassword'), 'pattern')"
                    >Passwords must have at least one uppercase, one lowercase, one number, and be
                    at least eight characters long.</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="
                      passwordForm.get('newPassword').value &&
                      hasError(passwordForm.get('newPassword'), 'notEqualTo')
                    "
                    >New password cannot be the same as current password</span
                  >
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Confirm New Password</label>
                  <input
                    class="form-control"
                    placeholder="Confirm New Password"
                    type="password"
                    name="confirmNewPassword"
                    formControlName="confirmNewPassword"
                    tabindex="0"
                    aria-invalid="true"
                  />
                  <span class="text-danger" *ngIf="required(passwordForm.get('confirmNewPassword'))"
                    >This field is required</span
                  >
                  <span
                    class="text-danger"
                    *ngIf="
                      passwordForm.get('confirmNewPassword').value &&
                      hasError(passwordForm.get('confirmNewPassword'), 'equalTo')
                    "
                    >Confirmation password does not match new password</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row bg-gray-lighter mt-lg pt-lg pb-lg">
          <div class="col-sm-12 col-md-9">
            <button
              class="btn btn-labeled btn-info"
              type="submit"
              [disabled]="!this.passwordForm.valid || !submitEnabled"
            >
              <span class="btn-label"><i class="fa fa-save"></i></span>
              Change Password
            </button>
            <button class="btn btn-labeled pull-right" type="button" routerLink="/profile">
              <span class="btn-label"><i class="fa fa-close"></i></span>
              Cancel
            </button>
          </div>
          <div class="col-sm-12 col-md-9 mt-xl" *ngIf="successMessage || errorMessage">
            <p *ngIf="successMessage" class="text-success">{{ successMessage }}</p>
            <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
