.account-heading {
  font-size: 24px;
  line-height: 1.1;
  color: #929292;
  margin: -15px;
  margin-bottom: -30px;
  padding: 15px;
  font-weight: normal;
}

.section-heading {
  font-size: 22px;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-left: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.negative-mt-lg {
  margin-top: -15px;
}

.panel-body {
  padding-top: 0;
}

.outer-panel {
  margin-top: 30px;
}

.content-panel-left {
  padding-right: 0;
}

.content-panel-right {
  padding-left: 0;
}

.facility-link {
  font-size: 14px;
}
