/** Previous view-resident scss **/
.button-row {
}

.button-row-column {
 margin-top: -40px;
}

.change-in-usage-diff {
  color: black;
  font-size: 200%;
  font-weight: bold;
}

.contact-image {
  margin-left: -5px;
  padding-left: 0;
  width: 55px;
}

.contact-info {
  padding-left: 0;
}

.quick-usage-chart-title {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 50px;
}

.resident-header-image {
  border: none;
  height: 130px;
  margin-top: -14px;
}

.resident-usage-change-column {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.resident-usage-column {
  padding-left: 0;
}

.resident-usage-panel {
  margin-right: 0;
  padding-right: 0;
}

.resident-usage-panel-body {
  border: none;
  margin-right: -30px;
  padding-right: 0;
}

.view-resident-heading {
  background-color: #23b7e5;
  color: white;
  font-size: 34px;
  font-weight: lighter;
  height: 72px;
}

.outer-panel {
  margin-top: 30px;
}

.content-panel-left {
  padding-right: 0;
}

.content-panel-right {
  padding-left: 0;
}


